# Created by https://www.toptal.com/developers/gitignore/api/java
# Edit at https://www.toptal.com/developers/gitignore?templates=java

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# End of https://www.toptal.com/developers/gitignore/api/java
/cursoEmVideo/cursoJava/OlaMundoSwing/nbproject/private/
/cursoEmVideo/cursoJava/OlaMundoSwing/build/
/cursoEmVideo/cursoJava/OlaMundoJavaFX/nbproject/private/
/cursoEmVideo/cursoJava/OlaMundoJavaFX/build/
/cursoEmVideo/cursoJava/OlaMundoJavaFX/dist/
/cursoEmVideo/cursoJava/OlaMundoSwing/dist/
/cursoEmVideo/cursoJava/TiposPrimitivos/nbproject/private/
/cursoEmVideo/cursoJava/TiposPrimitivos/build/
/cursoEmVideo/cursoJava/TesteTipos/nbproject/private/
/cursoEmVideo/cursoJava/TesteTipos/build/
/cursoEmVideo/cursoJava/SomaSwing/nbproject/private/
/cursoEmVideo/cursoJava/SomaSwing/build/
/cursoEmVideo/cursoJava/OperadoresAritmeticos/nbproject/private/
/cursoEmVideo/cursoJava/OperadoresAritmeticos/build/
/cursoEmVideo/cursoJava/OperadoresSwing/nbproject/private/
/cursoEmVideo/cursoJava/OperadoresSwing/build/
/cursoEmVideo/cursoJava/MathOperatoresSwing/nbproject/private/
/cursoEmVideo/cursoJava/MathOperatoresSwing/build/
/cursoEmVideo/cursoJava/OperadorTernario/nbproject/private/
/cursoEmVideo/cursoJava/OperadorTernario/build/
/cursoEmVideo/cursoJava/ComparacaoString/nbproject/private/
/cursoEmVideo/cursoJava/ComparacaoString/build/
/cursoEmVideo/cursoJava/OperadoresLogics/nbproject/private/
/cursoEmVideo/cursoJava/OperadoresLogicos/nbproject/private/
/cursoEmVideo/cursoJava/OperadoresLogicos/build/
/cursoEmVideo/cursoJava/VerificadorIdadeSwing/nbproject/private/
/cursoEmVideo/cursoJava/VerificadorIdadeSwing/build/
/cursoEmVideo/cursoJava/ProgramaMedia/nbproject/private/
/cursoEmVideo/cursoJava/ProgramaMedia/build/
/cursoEmVideo/cursoJava/ProgramaIdade/nbproject/private/
/cursoEmVideo/cursoJava/ProgramaIdade/build/
/cursoEmVideo/cursoJava/ProgramaParImparSwing/nbproject/private/
/cursoEmVideo/cursoJava/ProgramaParImparSwing/build/
/cursoEmVideo/cursoJava/VotacaoSwing/nbproject/private/
/cursoEmVideo/cursoJava/VotacaoSwing/build/
/cursoEmVideo/cursoJava/ProgramaPernas/nbproject/private/
/cursoEmVideo/cursoJava/ProgramaPernas/build/
/cursoEmVideo/cursoJava/Contador01/nbproject/private/
/cursoEmVideo/cursoJava/Contador01/build/
/cursoEmVideo/cursoJava/Contador02/nbproject/private/
/cursoEmVideo/cursoJava/Contador02/build/
/cursoEmVideo/cursoJava/Repeticao01/nbproject/private/
/cursoEmVideo/cursoJava/Repeticao01/build/
/cursoEmVideo/cursoJava/Numeros/nbproject/private/
/cursoEmVideo/cursoJava/Numeros/build/
/cursoEmVideo/cursoJava/RepeticaoFor/nbproject/private/
/cursoEmVideo/cursoJava/RepeticaoFor/build/
/cursoEmVideo/cursoJava/Vetor01/nbproject/private/
/cursoEmVideo/cursoJava/Vetor01/build/
/cursoEmVideo/cursoJava/Vetor02/nbproject/private/
/cursoEmVideo/cursoJava/Vetor02/build/
/cursoEmVideo/cursoJava/Vetor03/nbproject/private/
/cursoEmVideo/cursoJava/Vetor03/build/
/cursoEmVideo/cursoJava/Vetor04/nbproject/private/
/cursoEmVideo/cursoJava/Vetor04/build/
/cursoEmVideo/cursoJava/Vetor05/nbproject/private/
/cursoEmVideo/cursoJava/Vetor05/build/
/cursoEmVideo/cursoJava/TesteFuncao/nbproject/private/
/cursoEmVideo/cursoJava/TesteFuncao/build/
/cursoEmVideo/cursoJava/TesteFuncao02/nbproject/private/
/cursoEmVideo/cursoJava/TesteFuncao02/build/
/cursoEmVideo/cursoPooJava/OlaMundo/nbproject/private/
/cursoEmVideo/cursoPooJava/OlaMundo/build/
/cursoEmVideo/cursoPooJava/Aula02/nbproject/private/
/cursoEmVideo/cursoPooJava/Aula02/build/
/cursoEmVideo/cursoPooJava/Aula03/nbproject/private/
/cursoEmVideo/cursoPooJava/Aula03/build/
/cursoEmVideo/cursoPooJava/Aula04/nbproject/private/
/cursoEmVideo/cursoPooJava/Aula04/build/
/cursoEmVideo/cursoPooJava/Aula05/nbproject/private/
/cursoEmVideo/cursoPooJava/Aula05/build/
/cursoEmVideo/cursoPooJava/Aula06/nbproject/private/
/cursoEmVideo/cursoPooJava/Aula06/build/
/cursoEmVideo/cursoPooJava/UltraEmojiCombat/nbproject/private/
/cursoEmVideo/cursoPooJava/UltraEmojiCombat/build/
/cursoEmVideo/cursoPooJava/ProjetoLivro/nbproject/private/
/cursoEmVideo/cursoPooJava/ProjetoLivro/build/
/cursoEmVideo/cursoPooJava/ProjetoPessoas/nbproject/private/
/cursoEmVideo/cursoPooJava/ProjetoPessoas/build/
/cursoEmVideo/cursoPooJava/Aula011/nbproject/private/
/cursoEmVideo/cursoPooJava/Aula011/build/